:root {
    /* font-family: sans-serif; */
    --font-color: pink;
}

@media (max-width: 550px) {
    :root {
        --font-color: black;
    }
}

body {
    /* background: url(https://www.brewsterwallcovering.com/images/thumbs/0004377_pink-texture_600.jpeg) */
}
#navBarTop {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 400px;
    height: 30px;
    background-color: honeydew;

    z-index: 2;
}

#navBar {
    position: fixed;
    top: 0px;
    right: 0px;

    width: 600px;
    height: 50px;
    background-color: aquamarine;

    z-index: 1;
}

h1 {
    color: hotpink !important;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 36pt;
    
}

h2 {
    position: relative;
    top: -15px;

    text-align: center;
    background-color: rgba(255, 215, 0, 0.5);
    padding: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 255, 0.5);
    text-transform: uppercase;
}

#absSec {
    position: relative;
}

#absBox {
    position: absolute;
    top: -200px;
    right: 50px;

    background-color: rgba(255, 0, 255, 0.4);
    width: 100px;
    height: 100px;   
}

.blueText {
    color: blue;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
}

a {
    opacity: 0.7;
}

a:hover {
    color: hotpink;
    opacity: 1;
}

.wider-image {
    display: block;
    margin: auto;
    width: 700px;
    /* height: 125px; */
    z-index: 3;
}

.pink-border {
    border-color: hotpink;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

.aliceblueBG {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px 10px 10px 10px;

    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

#left {
    float: left;
    background-color: hsl(180, 100%, 50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#left:hover {
    transform: scale(2);
}

#right {
    float: right;
    background-color: rgba(255, 0, 255, 0.5);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    transform: scale(1.5);
}

#linear-BG {
    /* position: relative;
    top: 200px; */
    margin: auto;
    width: 50%;
    height: 200px;
    background: linear-gradient(25deg, #CCFFFF, #FFCCCC);
}

#repeating-lin-BG {
    margin: auto;
    width: 50%;
    height: 200px;
    background: repeating-linear-gradient(
        90deg,
        pink 0px,
        yellow 60px,
        blue 120px
    );
    transform: skewX(-12deg);
}

#animation {
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: red;

    animation-name: colourful;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0.2, 0.7, 0.5);

    position: relative;
}

@keyframes colourful{
    0% {
        background-color: red;
        left: 0px;
    }
    33% {
        background-color: yellow;
        left: 250px;
        /* opacity: 0.7; */
    }
    66% {
        background-color: orange;
        left: 125px;
    }
    100% {
        background-color: red;
        left: 0px;
    }
}

#animation2 {
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: hotpink;
}

#animation2:hover {
    animation-name: animation-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes animation-hover {
    100% {
        background-color: blueviolet;
    }
}

#pref-form {
    background-color: azure;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

[type='checkbox'] {
    margin: 10px 0px 10px 0px;
}

footer {
    color: var(--font-color, hotpink);
}